<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css" type="text/css" media="all">
  <title>Dropdown List using JavaScript</title>
</head>

<body>
  <div id="prefectures">
    <h1>都道府県を選ぼう</h1>
    <div id="dropdown-prefectures">
      <select>
      </select>
    </div>
  </div>

  <div id="mountains">
    <h1>山を選ぼう</h1>
    <div id="dropdown-mountains">
      <select>
      </select>
    </div>
  </div>

  <div id="courses">
    <h1>コースを選ぼう</h1>
    <div id="dropdown-courses">
      <select>
      </select>
    </div>
  </div>

  <div class="hiking-days" id="hiking-days">
    <h1>山行予定</h1>
      <input type="radio" name="hiking-days" value="option1">
      <label for="option1">日帰り</label>
      <input type="radio" name="hiking-days" value="option2">
      <label for="option2">1泊以上</label>
  </div>

  <div id="backpack-weight">
    <h1>持っていくザックの重量</h1>
    <div class="dropdown-backpack-weight" id="dropdown-backpack-weight">
      <select>
      </select>
    </div>
    <div id="option-info">
    </div>
  </div>

  <div id="water">
    <h1>必要な飲料水</h1>
    <div id="water-required"></div>
  </div>

  <script src="/javascript/script.js"></script>
</body>
</html>